@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* =--------= CONFIGURAÇÕES GLOBAIS =--------= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;    
}

:root{
    --cor1: #FF9EA0;
    --cor2: #FE6E72;
    --cor3: #FE474C;
    --cor4: #FE2127;
    --cor5: #FD0006;
    --cor6: #3BD4CE;
    --cor7: #94EFEB;
    --cor8: #61E1DC;
    --cor9: #1AC5BE;
    --cor10: #00B1AA;
    --cor11: #BEF845;
    --cor12: #DDFC9C;
    --cor13: #CCFA6C;
    --cor14: #B1F520;
    --cor15: #A4F200;
}

.body-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

/* =--------= HEADER =--------= */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100vw;
}

/* =--------= MAIN =--------= */

.main{
    display: flex;
    flex-direction: column;
    
    height: 90vh;
}

#recados{
    width: 99vw;
    margin: auto;
    margin-bottom: 10px;
    height: 100%;
}

#addRecado{
    
    margin-bottom: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* =--------= TABELA =--------= */

table{
    border: 1px solid black;
    border-collapse: collapse;    
    width: 100%;
    background-color: white;    
}

thead{
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1.2em;    
}

tbody td{
    padding: 5px;
}

.botoes{
    width: 10%;
}

.botoes button{
    width: 45%;
}

.numeracao{
    width: 5%;
}

.titulo{
    width: 30%;
}

/* =--------= FOOTER =--------= */

.footer{
    
    
    height: 3vh;    
}